<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/xslt4json/src/com/gerixsoft/xslt4json/JsonToXml.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.gerixsoft.xslt4json.JsonToXml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="files/input.json&#10;files/output.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="xslt4json"/>
</launchConfiguration>
