<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/json2xml2/src/com/gerixsoft/json2xml2/JsonToXml.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.gerixsoft.json2xml2.JsonToXml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="files/input.json&#10;files/output.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="json2xml2"/>
</launchConfiguration>
